@font-face {
  font-family: "Adventure";
  src: url('../src/Fonts/Adventure.otf');
}

@font-face {
  font-family: "Adventure Hollow";
  src: url('../src/Fonts/Adventure_Hollow.otf');
}

:root{
  --font-title: "Adventure", sans-serif;
}

html, *, *::before,*::after{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/fondoLogoCort.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
  background-color: #7fac71;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemon_buttons{
  border-radius: 10px;
  font-size: 20px;
  width: 6rem;
  height: 2rem;
  color: #294397;
  font-family: 'Adventure';
  box-shadow:  3px 4px 0 black;;
  background: transparent;
  backdrop-filter: blur(1px);
  transition: .2s ease-in-out all;
}

.pokemon_buttons:focus{
  box-shadow: none;
}

.filter_buttons{
  border-radius: 10px;
  font-size: 20px;
  width: 3.5rem;
  height: 3rem;
  color: #294397;
  font-family: 'Adventure';
  box-shadow:  3px 4px 0 black;;
  background: #fec304;
  backdrop-filter: blur(1px);
  transition: .2s ease-in-out all;
  padding-left: 1px;
}

.filter_buttons:focus{
  box-shadow: none;
}